<footer class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="/page/about" class="text-base text-gray-500 hover:text-gray-900">
          About
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="/resume" class="text-base text-gray-500 hover:text-gray-900">
          Resume
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="/categories" class="text-base text-gray-500 hover:text-gray-900">
          Categories
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="/tags" class="text-base text-gray-500 hover:text-gray-900">
          Tags
        </a>
      </div>

    </nav>
    <div class="mt-8 flex justify-center space-x-6">
      <a href="https://www.instagram.com/marcrunkel/" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Instagram</span>
        <i class="fab fa-instagram"></i>
      </a>

      <a href="https://twitter.com/mrunkel" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Twitter</span>
        <i class="fab fa-twitter"></i>
      </a>

      <a href="https://github.com/mrunkel" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">GitHub</span>
        <i class="fab fa-github"></i>
      </a>

    </div>
    <p class="mt-8 text-center text-base text-gray-400">
      &copy; {{ now.Format "2006"}} Marc Runkel. All rights reserved.
    </p>
  </div>
</footer>
